.paragraph{
    word-wrap: break-word;
    word-break: break-word;
    box-shadow: 2px grey;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: #1c2d49;
    font-size: 15px;
}

.box{
    padding: 20px 20px 20px 20px;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #ffffff;
    border-radius: 25px;
    /* box-shadow: 0 0 5px 0 rgba(0,0,0,.5); */
    
}

.box:hover{
    box-shadow:  5px 8px 0 rgba(73, 71, 71, 0.13);
}